/* .multiStepFormContainer{
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--white));
}

@media screen and (min-width:768px){
    .multiStepFormContainer{
        flex-direction: row;
        padding: 16px;
        border-radius: 15px;
        max-width: 960px;
        width: 100%;
    }
} */

.multiStepFormContainer{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    background-color: rgba(var(--blue-100));
}

@media screen and (min-width:768px){
    .multiStepFormContainer{
        flex-direction: row;
        height: 560px;
        padding: 16px;
        border-radius: 12px;
        max-width: 860px;
        margin: 0 auto;
        background-color: rgba(var(--white));

}

}